:root {
  --container-background: hsl(217, 19%, 24%);
  --body-color: hsl(218, 23%, 16%);
  --paragraph-color: hsl(193, 38%, 86%);
  --dice-bg: hsl(150, 100%, 66%);
  --h4-color: hsl(150, 100%, 66%);
  --font: "Manrope", sans-serif;


}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: hsl(218, 23%, 16%);
}

.container {
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font);
  background-color: var(--container-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  border-radius: 8px;
  flex-wrap: nowrap;
  width: calc(100% - 60%);
  /* Adjusts container width for 30% side margins */
  margin: 15% auto;
  gap: 20px 5px;

}

p {
  margin: 0;
  color: var(--paragraph-color);
}

#divider-mobile {
  display: none;
}

h4 {
  margin: 0;
  font-size: 14px;
  letter-spacing: 4px;
  color: var(--dice-bg);
}

.dice {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--dice-bg);
  margin-bottom: -70px;
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
  width: 48px;
  height: 48px;

}

.dice:hover {
  box-shadow: 0 0 20px var(--dice-bg);
}

.dice svg {

  align-self: center;
  text-align: center;
  cursor: pointer;

}

.advice {
  font-size: 28px;
  font-weight: 800;
  padding: unset;
}

/* Responsive Adjustments */
@media screen and (max-width: 1100px) {
  .container {
    width: calc(100% - 30%);
    /* Reducing margins to 15% on each side */
  }
}


/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 30%);
    /* Reducing margins to 15% on each side */
  }


}

@media screen and (max-width: 700px) {
  .container {
    width: calc(100% - 30%);
    /* Reducing margins to 15% on each side */
  }

  #divider-desktop {
    display: none;
  }

  #divider-mobile {
    display: block;
  }

}

@media screen and (max-width: 480px) {
  .container {
    width: calc(100% - 10%);
    /* Further reducing margins to 5% on each side */
  }
}